body {
    background-color: #111;
    padding-left: 15%;
    color: white;
}

header {
    padding-top: 1.2%;
}

    header h1 {
        font-size: 100px;
    }

main p {
    font-size: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    line-height: 66%;
}

aside {
    height: 100%;
    width: 10%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #bcc5fe;
    overflow-x: hidden;
    padding-top: 2%;
    font-size: large;
}

.navbar {
    color: #bcc5fe;
    padding-left: 15%;
}

    .navbar p {
        color: #111;
        padding-left: 15%;
        font-size: 20px;
    }

        .navbar p:hover {
            color: red;
        }

button {
    width: 200px;
    height: 30px;
    font-size: 20px;
    border-color: #bcc5fe;
}

    button:hover {
        background-color: #292626;
        color: snow;
    }

.button-rate {
    width: 100px;
    height: 30px;
    font-size: 20px;
    color: white;
    background-color: #292626;
    border: none;
}

    .button-rate:hover {
        background-color: #292626;
        color: greenyellow;
    }

.review-container, .review-button {
    display: inline-block;
    margin-top: 0.5em;
    padding-top: 1%;
}

.review-text {
    display: block;
    margin-top: 0.5em;
    padding-top: 1%;
    background-color: #292626;
}

.slider {
    width: 1800px;
    height: 300px;
}

.slide {
    width: 500px;
    height: 300px;
    display: none;
}

.active {
    display: block;
}

.arrows {
    color: greenyellow;
    font-size: 30px
}
