<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cities</title>
    <link href="../Static/CSS/about.css" rel="stylesheet" type="text/css">
</head>
<body>
    <script src="../Static/JS/about.js"></script>
    <div>
        <p class="arrows">
            ←&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;→
        </p>
    </div>
    <div class="slider">
        <img id="pic1" src="../Static/Pictures/london.jpg" class="slide active" alt="Лондон" />
        <img id="pic2" src="../Static/Pictures/ny.jpg" class="slide" alt="Нью-Йорк" />
        <img id="pic3" src="../Static/Pictures/spb.jpg" class="slide" alt="Санкт-Петербург" />
        <script>
            showPicturesFlow();
        </script>
    </div>

</body>
</html>